@font-face {
  font-family: "FlowRegular";
  src: url("../fonts/FlowRegular/FlowRegular.eot");
  src: url("../fonts/FlowRegular/FlowRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/FlowRegular/FlowRegular.woff") format("woff"),
    url("../fonts/FlowRegular/FlowRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
:root {
  --color-brown: #87766a;
  --color-green: #737548;
  --color-orange: #a0907eb4;
  --color-white: #b9ab9b;
  --color-bg: #3d3638;
  --color-line: #262c31;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "FlowRegular";
  background: var(--color-brown);
  color: var(--color-bg);
  font-size: 18px;
  overflow: visible;
}
button {
  font: inherit;
  border: none;
  cursor: pointer;
  background-color: var(--color-bg);
  margin-bottom: 20px;
  font-size: inherit;
  font-weight: inherit;
  border-radius: 5px;
  color: var(--color-white);
}
img {
  max-width: 20px;
  max-height: 20px;
}
input {
  max-width: 40px;
  background-color: var(--color-white);
  outline: none;
  border-radius: 5px;
}

.score span {
  background-color: var(--color-white);
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid var(--color-brown);
}
.score span:last-child {
  margin-bottom: 0;
}
.begin {
  margin: 40px auto;
  max-width: 300px;
  background: var(--color-white);
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 10px rgba(58, 50, 50, 0.3);
}

.button_flex {
  display: flex;
  justify-content: space-between;
}
.container {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 830px;
  width: 100%;
  padding: 40px 40px;
  background-color: var(--color-bg);
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 10px rgba(58, 50, 50, 0.5);
}
/* .flex {
  max-width: 300px;
  position: relative;
} */
.playfield {
  width: 400px;
  height: 400px;
  background: var(--color-white);
  display: grid;
  grid-template-columns: repeat(10, auto);
  margin-bottom: 20px;
  margin-right: 20px;
  gap: 2px;
  padding: 2px;
  border-radius: 5px;
  border: 3px solid var(--color-brown);
}
.info {
  background: var(--color-white);
  position: relative;
  padding: 10px 10px;
  border-radius: 5px;
  border: 3px solid var(--color-brown);
  height: 180px;
  width: 300px;
  margin-bottom: 20px;
}
.score {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media screen and (max-width: 860px) {
  .container {
    justify-content: right;
    flex-direction: column;
    top: 15px;
    max-width: 500px;
    padding: 20px;
  }
  .score {
    max-width: 400px;
  }
  .info {
    width: 400px;

    margin: 0 auto 20px auto;
  }
  .playfield {
    margin: 0 auto 20px auto;
  }
  .open_modal {
    width: 100%;
  }
  /* button {
    padding-bottom: 10px;
  } */
}
@media screen and (max-width: 510px) {
  body {
    background: var(--color-bg);
  }
  .container {
    padding: 10px 10px;
    box-shadow: none;
  }
}
@media screen and (max-width: 420px) {
  .playfield {
    width: 300px;
    height: 300px;
  }
  .info {
    width: 300px;
  }
}
@media screen and (max-width: 320px) {
  .playfield {
    width: 230px;
    height: 230px;
  }
  .info {
    width: 230px;
    max-height: 100%;
  }
  .number {
    font-size: 15px;
  }
}
.block {
  width: auto;
  height: auto;
  background: var(--color-brown);
  border: 2px solid var(--color-brown);
  text-align: center;
}

.start {
  min-width: 100px;
  min-height: 40px;
  text-align: center;
  padding: 5px 10px;
  background: var(--color-green);
  width: 100%;
}
.start.home {
  position: relative;
  width: 100%;
  max-width: 400px;
}
@media screen and (max-width: 860px) {
  .start.home {
    left: calc(50% - 200px);
  }
}
@media screen and (max-width: 420px) {
  .start.home {
    max-width: 300px;
    left: calc(50% - 150px);
  }
}
@media screen and (max-width: 320px) {
  .start.home {
    max-width: 230px;
    left: calc(50% - 115px);
  }
}

.start:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border: 2px solid var(--color-brown);
}
.number {
  position: absolute;
}
.open_modal {
  min-width: 100px;
  min-height: 40px;
  text-align: center;
  padding: 5px 10px;
  width: 49%;
}
.open_modal:hover {
  background: var(--color-white);
  color: var(--color-brown);
  border: 2px solid var(--color-brown);
  padding: 5px 8px;
}
.modal {
  position: fixed;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  transition: top 0ms ease-in-out 300ms;
}
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 1000px);
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: all 200ms;
}

.modal_window {
  background: var(--color-white);
  border: 3px solid var(--color-brown);
  position: absolute;
  left: 50%;
  width: 85%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(24, 24, 24, 0.4);
  padding: 20px 25px;
  transform: translate(-50%, 10px);
  /* transform: translate(-50%, 20%) scale(1.15); */
  opacity: 0;
  transition: all 400ms ease-in-out;
  overflow-y: auto;
}
.modal_window > .text {
  display: none;
  border: 3px solid #8f4e4e7c;
  background: #94585833;
  color: var(--color-bg);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
}
/* .modal_window > .text.transform {
  transform: translateX(10%);
  transition: all 30ms;
} */
.title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.rules {
  margin-bottom: 30px;
  text-align: justify;
}
.button_flex_rules {
  display: flex;
  justify-content: right;
}
.close_modal {
  position: relative;
  margin: 20px 0 0 0;
  background-color: var(--color-green);
  min-width: 100px;
  min-height: 40px;
  text-align: center;
  padding: 5px 10px;
}
.close_modal:hover {
  background: var(--color-white);
  color: var(--color-brown);
  border: 2px solid var(--color-brown);
}

.modal.open {
  top: 0px;
  transition: top 0ms ease-in-out 0ms;
  overflow: auto;
}
.overlay.open {
  display: block;
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.modal.open .modal_window {
  top: 0;
  transform: translate(-50%, 30px);
  /* transform: translate(-50%, 30px) scale(1); */
  opacity: 1;
}
.settings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.settings button {
  position: relative;
  background: #94585896;
  width: 40px;
  height: 25px;
  border-radius: 20px;
  border: 2px solid #8f4e4e;
  /* display: flex;
  justify-content: left; */
}
.settings.on button {
  background: #8aa06096;
  border: 2px solid #818d52;
  /* justify-content: right; */
}
.button_flex_settings {
  margin-top: 100px;
  display: flex;
  justify-content: right;
}
.round {
  position: absolute;
  top: 0;
  left: 0;
  background: #8d4d4d;
  height: 19px;
  width: 19px;
  border-radius: 20px;
  margin: 1px;
  transition: 100ms;
}
.settings.on button > .round {
  background: #808b52;
  left: auto;
  right: 0;
  transition: 100ms;
}
@media screen and (max-width: 420px) {
  .settings > .p {
    width: 150px;
  }
}
.save {
  position: relative;
  margin: 0;
  background-color: var(--color-brown);
  min-width: 100px;
  min-height: 40px;
  text-align: center;
  padding: 5px 10px;
  margin: 20px 10px 0 0;
  height: 40px;
}
#num-fox {
  border: 2px solid var(--color-green);
}
.save:hover {
  background: var(--color-white);
  color: var(--color-brown);
  border: 2px solid var(--color-brown);
}
.button_flex_confirm {
  display: flex;
  justify-content: space-around;
}
