@font-face {
  font-family: "FlowRegular";
  src: url("../fonts/FlowRegular/FlowRegular.eot");
  src: url("../fonts/FlowRegular/FlowRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/FlowRegular/FlowRegular.woff") format("woff"),
    url("../fonts/FlowRegular/FlowRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
:root {
  --color-brown: #87766a;
  --color-green: #5d5e4a;
  --color-orange: #955727;
  --color-white: #b9ab9b;
  --color-bg: #443c36;
  --color-line: #262c31;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "FlowRegular";
  background: var(--color-brown);
  color: var(--color-bg);
  font-size: 18px;
  overflow: visible;
}
/* .no-scroll {
  overflow: hidden;
} */
button {
  font: inherit;
  border: none;
  cursor: pointer;
  background-color: var(--color-brown);
  margin-bottom: 20px;
  font-size: inherit;
  font-weight: inherit;
  border-radius: 5px;
  color: var(--color-white);
}
img {
  max-width: 20px;
  max-height: 20px;
}
input {
  max-width: 70px;
  background-color: var(--color-white);
  outline: none;
  border: 2px solid var(--color-brown);
  border-radius: 5px;
}

.score span {
  background-color: var(--color-white);
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}
.score span:last-child {
  margin-bottom: 0;
}
.container {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 830px;
  width: 100%;
  padding: 40px 40px;
  background-color: var(--color-bg);
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}
.playfield {
  width: 400px;
  height: 400px;
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: repeat(10, auto);
  margin-bottom: 20px;
  margin-right: 20px;
  gap: 2px;
  padding: 2px;
  border-radius: 5px;
  border: 3px solid var(--color-brown);
}
.info {
  background: var(--color-white);
  position: relative;
  padding: 15px 10px;
  border-radius: 10px;
  height: 100%;
  border: 3px solid var(--color-brown);
}
.score {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background: var(--color-brown);
  padding: 10px;
  border-radius: 5px;
}
@media screen and (max-width: 790px) {
  .container {
    display: flex;
    justify-content: right;
    flex-direction: column;
    top: 0px;
    max-width: 500px;
    padding: 20px;
  }
  .score {
    max-width: 400px;
  }
  .info {
    width: 400px;

    margin: 0 auto 20px auto;
  }
  .playfield {
    margin: 0 auto 20px auto;
  }
}
@media screen and (max-width: 510px) {
  body {
    background: var(--color-bg);
  }
  .container {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 420px) {
  .playfield {
    width: 300px;
    height: 300px;
  }
  .info {
    width: 300px;
  }
}
@media screen and (max-width: 320px) {
  .playfield {
    width: 230px;
    height: 230px;
  }
  .info {
    width: 230px;
    max-height: 100%;
  }
  .number {
    font-size: 15px;
  }
}
.block {
  width: auto;
  height: auto;
  background: var(--color-brown);
  border: 2px solid var(--color-brown);
  text-align: center;
}

.start {
  min-width: 100px;
  min-height: 40px;
  text-align: center;
  padding: 5px 10px;
  background: var(--color-green);
  width: 100%;
}
.start:hover {
  background: var(--color-bg);
}
.number {
  position: absolute;
}
.open_modal {
  min-width: 100px;
  min-height: 40px;
  text-align: center;
  padding: 5px 10px;
}
.open_modal:hover {
  background: var(--color-bg);
}
.modal {
  position: fixed;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  transition: top 0ms ease-in-out 300ms;
}
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 1000px);
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: all 200ms;
}

.modal_window {
  background: var(--color-white);
  border: 3px solid var(--color-brown);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(24, 24, 24, 0.4);
  padding: 20px 25px;
  transform: translate(-50%, 20%) scale(1.15);
  opacity: 0;
  transition: all 300ms ease-in-out;
  overflow-y: auto;
}
.title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.rules {
  margin-bottom: 30px;
  text-align: justify;
}
.button_flex_rules {
  display: flex;
  justify-content: right;
}
.close_modal {
  position: relative;
  margin: 20px 0 0 0;
  background-color: var(--color-green);
  min-width: 100px;
  min-height: 40px;
  text-align: center;
  padding: 5px 10px;
}
.close_modal:hover {
  background: var(--color-bg);
}

.modal.open {
  top: 0px;
  transition: top 0ms ease-in-out 0ms;
  overflow: auto;
}
.overlay.open {
  display: block;
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.modal.open .modal_window {
  top: 0;
  transform: translate(-50%, 30px) scale(1);
  opacity: 1;
}
.settings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.button_flex_settings {
  margin-top: 100px;
  display: flex;
  justify-content: right;
}
.save {
  position: relative;
  margin: 0;
  background-color: var(--color-brown);
  min-width: 100px;
  min-height: 40px;
  text-align: center;
  padding: 5px 10px;
  margin: 20px 10px 0 0;
  height: 40px;
}
.save:hover {
  background: var(--color-bg);
}
