* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  margin-bottom: 20px;
  font-size: inherit;
  font-weight: inherit;
}
img {
  max-width: 20px;
  max-height: 20px;
}
input {
  max-width: 70px;
}
.score span {
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 5px;
}
.container {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 40px;
  background-color: #c0c0c0;
  display: flex;
  justify-content: left;
}
.playfield {
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(10, auto);
  border: 2px solid #6e6e6e;
  margin-bottom: 20px;
  margin-right: 20px;
  gap: 2px;
  padding: 2px;
}
/* .info {
} */
.score {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
@media screen and (max-width: 790px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .score {
    max-width: 400px;
  }
  .info {
    width: 400px;
    height: 400px;
    margin: 0 auto 20px auto;
  }
  .playfield {
    margin: 0 auto 20px auto;
  }
}
@media screen and (max-width: 510px) {
  .container {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 420px) {
  .playfield {
    width: 300px;
    height: 300px;
  }
  .info {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 320px) {
  .playfield {
    width: 230px;
    height: 230px;
  }
  .info {
    width: 230px;
    height: 230px;
  }
  .number {
    font-size: 15px;
  }
}
.block {
  width: auto;
  height: auto;
  background: #adadad;
  border: 2px solid #6e6e6e;
  text-align: center;
}

.start {
  min-width: 100px;
  min-height: 40px;
  text-align: center;
  padding: 5px 10px;
}
.number {
  position: fixed;
}
.open_modal {
  min-width: 100px;
  min-height: 40px;
  text-align: center;
  padding: 5px 10px;
}
.modal {
  position: fixed;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  transition: top 0ms ease-in-out 300ms;
}
.modal .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: all 200ms;
}

.modal_window {
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(24, 24, 24, 0.4);
  padding: 30px;
  transform: translate(-50%, -50%) scale(1.15);
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.rules {
  margin-bottom: 30px;
}
.button_flex_rules {
  display: flex;
  justify-content: right;
}
.close_modal {
  position: relative;
  margin: 0;
  background-color: #c0c0c093;
  min-width: 100px;
  min-height: 40px;
  text-align: center;
  padding: 5px 10px;
}
.close_modal:hover {
  background-color: #c0c0c0;
}

.modal.open {
  top: 0px;
  transition: top 0ms ease-in-out 0ms;
}
.modal.open .overlay {
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.modal.open .modal_window {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.settings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.button_flex_settings {
  margin-top: 100px;
  display: flex;
  justify-content: right;
}
.save {
  position: relative;
  margin: 0;
  background-color: #c0c0c093;
  min-width: 100px;
  min-height: 40px;
  text-align: center;
  padding: 5px 10px;
  margin-right: 10px;
}
