* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  margin-bottom: 20px;
  font-size: inherit;
  font-weight: inherit;
}
img {
  max-width: 20px;
  max-height: 20px;
}
.score span {
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 5px;
}
.container {
  width: 950px;
  margin: 0 auto;
  padding: 20px 50px;
  background-color: #c0c0c0;
}
.playfield {
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(10, auto);
  border: 2px solid #6e6e6e;
  margin-bottom: 20px;
  gap: 2px;
  padding: 2px;
}
.score {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.block {
  width: auto;
  height: auto;
  background: #adadad;
  border: 2px solid #6e6e6e;
  text-align: center;
}

.start {
  min-width: 100px;
  min-height: 40px;
  text-align: center;
  padding: 5px 10px;
}
.number {
  position: fixed;
}
